section#aboutme {
	img {		
		object-fit: contain;
		box-shadow: 3px 3px 10px #669;
		@media #{$sm-max} {
			height: 150px;
			margin-bottom: 15px;
		}		
		@media #{$md-lg} {
			height: 250px;
			margin-right: 10px;
		}
		@media #{$lg-min} {
			height: 300px;
		}
	}
	.about-title {
		margin-bottom: 15px; 
		text-shadow: 1px 1px 5px #99a;
		@media #{$sm-max} {
			display: none;
		}
		@media #{$sm-md} {
			font-size: 2.5em;
		}
		@media #{$lg-min} {
			font-size: 3em;
		}
	}
	.about-body {
		text-align: justify; 
		@media #{$md-max} {
			font-size: 1.3em;
		}
		@media #{$lg-min} {
			font-size: 1.5em;
		}
	}
}