@import './_variables.scss';
@import './landing.scss';
@import './about.scss';

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	min-height: 100vh;
	overflow: hidden;
}

@each $section, $color in
			(#landing, #e0f2f1),
			(#about, #f4ff81),
			(#project-1, #ffd740),
			(#project-2, #b6ff5c),
			(#project-3 #fff176)
{
	section#{$section} {
		background-color: $color;
	}
}
