<section id="aboutme">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="<%= require('../assets/propic.jpg') %>" alt="Profile Picture" class="img-circle">
			</div>
			<div class="col-md-8">
				<div class="about-title">
					About Me
				</div>
				<div class="about-body">
					<%= models.Personal.about() %>	
				</div>
			</div>
		</div>
	</div>
</section>