<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="<%= require('../assets/propic.jpg') %>" alt="ProPic" class="img-circle img-reponsive">
			</div>
			<div class="col-md-8">
				<div class="col-xs-12 text-center" style="margin-bottom: 15px; font-size: 2em">
					About Me
				</div>
				<div style="text-align: justify; font-size: 1em">
					<%= models.Personal.about() %>	
				</div>
			</div>
		</div>
	</div>
</section>