<section id="landing">
	<div>
		<div style="font-size: 3.5em">Hi!</div>
		<div style="font-size: 2.5em">I'm <%= models.Personal.name %></div>
		<div style="font-size: 1.5em"><%= models.Personal.intro %></div>
	</div>
</section>

<style type="text/css" scoped>
	@media (min-width: 768px) {
		div { 
			font-size: 1.5em;
		}
	}
	@media (min-width: 992px) {
		div { 
			font-size: 2em;
		}
	}
	@media (min-width: 1200px) {
		div { 
			font-size: 2.5em;
		}
	}
</style>