<section style="background: #e0f2f1;" id="landing">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-2">
				<div style="font-size: 3.5em">Hi!</div>
				<div style="font-size: 2.5em">I'm <%= models.Personal.name %></div>
				<div style="font-size: 1.5em"><%= models.Personal.intro %></div>
			</div>
		</div>
	</div>
	<style type="text/css" scoped>
		@media (min-width: 768px) {
			#landing .row { 
				font-size: 1.5em;
			}
		}
		@media (min-width: 992px) {
			#landing .row { 
				font-size: 2em;
			}
		}
		@media (min-width: 1200px) {
			#landing .row { 
				font-size: 2.5em;
			}
		}
	</style>
</section>

<section style="background: #f4ff81;" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="./static/propic.jpg" alt="ProPic" class="img-circle img-reponsive">
			</div>
			<div class="col-md-8">
				<div class="col-xs-12 text-center" style="margin-bottom: 15px; font-size: 2em">
					About Me
				</div>
				<div style="text-align: justify; font-size: 1em">
					<%= models.Personal.about() %>	
				</div>
			</div>
		</div>
	</div>
	<style type="text/css" scoped>
		#about .row { 
			font-size: 1.4em;
		}
		#about img {
			box-shadow: 3px 3px 10px #669;
			height: 220px;	
			margin: 10px;
		}
		@media (min-width: 992px) { 
			#about img {
				height: 260px;
				margin-top: 30px;			
			}
		}
		@media (min-width: 1200px) { 
			#about .row { 
				font-size: 1.5em;
			}
			#about img {
				height: 300px;
				margin: 20px;			
			}
		}
	</style>
</section>

<section style="background: #ffd740;">
	<div class="container">
		<div class="row" >
			<div class="hidden-xs col-sm-1">
				<span style="font-size: 15em">1</span>

			</div>
		</div>
	</div>
</section>


<section style="background: #B6FF5C;">
	<div class="container">
		<div class="row" >
			<div class="hidden-xs col-sm-2">
				<span style="font-size: 15em">2</span>

			</div>
		</div>
	</div>
</section>


<section style="background: #fff176;">
	<div class="container">
		<div class="row" >
			<div class="hidden-xs col-sm-2">
				<span style="font-size: 15em">3</span>

			</div>
		</div>
	</div>
</section>
