<div class="jumbotron">
	<div class="container">
		<h1>Hi!</h1>
		<p>I'm <span class="personal-name"><%= Personal.name %></span>.</p>
		<p><span class="personal-intro"><%= Personal.intro %></span></p>
	</div>
</div>

<div class="container">
	<div class="thumbnail">
		<%= Personal.about() %>
	</div>
</div>
