<div class="container">
	<div class="jumbotron">
		<h1>Hi.</h1>
		<h2>I'm <span class="personal-name"><%= Personal.name %></span>.</h2>
		<h4><span class="personal-intro"><%= Personal.intro %></span></h4>
	</div>
	
	<div class="row">
		<%= Personal.about() %>
	</div>
</div>
