<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Portfolio of Sudipto Chandra">
	<meta name="author" content="Sudipto Chadra">

	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= require('./partials/body.ejs')({ user: 'Dipu' }) %>
</body>
</html>